.login {
   width: 320px;
   height: 450px;
   margin: 0 auto;
   border-radius: 20px;
   transition: 0.25 ease;
}
.login .form {
   width: 100%;
   height: 100%;
   padding: 15px 25px;
   background-color: var(--color-body-black);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.login .form h2 {
   color: #1b904e;
   text-align: center;
   font-weight: bold;
   font-size: 32px;
   margin-top: 60px;
   margin-bottom: 50px;
}
.login .form input {
   width: 100%;
   height: 40px;
   margin-top: 20px;
   background: transparent;
   border: 1px solid rgba(255, 255, 255, 0.1);
   padding: 0 15px;
   color: #fff;
   border-radius: 5px;
   font-size: 14px;
}
.login .form input[type="submit"] {
   width: 50%;
   border-radius: 40px;
   color: #fff;
   background-color: #1b904e;
   margin: 20px auto;
   font-weight: bold;
   cursor: pointer;
}
.login .form input[type="submit"]:hover {
   background-color: transparent;
   color: #1b904e;
   border: 1px solid #1b904e;
}
.login .form input:focus {
   border: 1px solid #1b904e;
   outline: none;
}
::-webkit-input-placeholder {
   color: #1b904e;
}
