.create {
   display: flex;
   position: fixed;
   flex-direction: column;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
   .create-modal {
      display: flex;
      height: 600px;
      width: 700px;
      flex-direction: column;
      background: rgba(0, 0, 0, 1);
      z-index: 10;
      border: 1px solid #333;
      border-radius: 10px;
      margin: 20px 0;
      .title {
         background: transparent;
         height: 42px;
         width: 100%;
         text-align: center;
         border-bottom: 1px solid var(--line--light);
         h1 {
            line-height: 42px;
            font-size: 18px;
         }
      }
      .create-body {
         height: 100%;
         padding: 10px 15px 0 15px;
         background: transparent;

         .form {
            height: 100%;
         }
         .file {
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: 1px solid #333;
            border-radius: 3px;
            h4 {
               font-size: 15px;
               font-weight: 500;
               padding: 3px 10px;
               background-color: #2197fa;
               border-radius: 5px;
               cursor: pointer;
            }
            .previewImg {
               height: 90%;
               width: 100%;
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               img {
                  max-width: 100%;
                  max-height: 100%;
                  object-fit: cover;
               }
            }
         }
         .desc {
            margin-top: 10px;
            display: flex;
            border: 1px solid #333;
            border-radius: 3px;
            height: 25%;
            display: flex;
            textarea {
               outline: none;
               border: none;
               width: 80%;
               font-size: 1.2rem;
               resize: none;
               padding: 5px 8px;
               background-color: transparent;
               color: #fff;
               &::-webkit-scrollbar {
                  width: 0px;
               }
               &::-webkit-scrollbar-thumb {
                  background-color: var(--line--light);
                  border-radius: 20px;
                  border: 3px solid var(--line--light);
               }
            }
         }
         .submit {
            display: flex;
            height: 50px;
            justify-content: center;
            align-items: center;
            button {
               color: aliceblue;
               outline: none;
               border: 1px solid #333;
               border-radius: 7px;
               padding: 7px 10px;
               width: 100px;
               font-weight: 600;
               font-size: 1rem;
               background-color: transparent;
               cursor: pointer;
            }
         }
      }
   }
   i {
      position: fixed;
      top: 20px;
      right: 25px;
      font-size: 30px;
      color: var(--bg--sidebar--light);
      font-weight: 500;
      cursor: pointer;
   }
}
.close {
   display: none;
}
