.main {
   width: 60%;
   margin-right: 64px;
}
.post {
   padding-bottom: 20px;
}
.post-item {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   border: transparent;
   max-height: 999999px;
   width: 500px;
   border-bottom: 1px solid var(--color-light-black);
   padding-bottom: 15px;
   margin-bottom: 20px;
   .post-header {
      height: 50px;
      display: flex;
      flex-direction: row;
      margin: 8px 4px 8px 0px;
      align-items: center;
      position: relative;
      a {
         text-decoration: none;
      }
      img {
         width: 50px;
         height: 50px;
         border-radius: 50px;
         border: 2px solid #8e8e9c;
         object-fit: cover;
      }
      span {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-left: 10px;
      }
      .name {
         font-size: 20px;
         font-weight: 450;
         line-height: 50px;
      }
      .timeline {
         color: var(--ghost-accent-color);
         opacity: 0.4;
      }
      .edit-post {
         position: absolute;
         right: 0;
         font-size: 18px;
         .edit-menu {
            cursor: pointer;
            transition: 0.25 ease-in;
            i {
               color: var(--ghost-accent-color);
               &:hover {
                  color: var(--color-green);
               }
            }
         }
      }
   }
   .post-img {
      max-height: 700px;
      width: 500px;
      border: 1px solid transparent;
      border-radius: 7px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
         border: 1px solid transparent;
         border-radius: 5px;
         max-height: 700px;
         width: 500px;
         object-fit: cover;
      }
   }
   .post-status {
      height: 40px;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 5px;
      padding-bottom: 6px;
      font-size: 24px;
      align-items: center;

      i {
         height: 24px;
         width: 24px;
         margin-right: 10px;
         cursor: pointer;
         &:hover {
            color: #8e9e9c;
         }
         .like:hover {
            color: red;
         }
      }
   }
   .post-content {
      width: 500px;
      p {
         overflow-wrap: break-word;
      }
   }
}
