@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");

:root {
   --bg--sidebar--light: #ffffff;
   --bg--light: #fafafa;
   --text--light: #333;
   --bg--sidebar--dark: #000000;
   --bg--dark: #121212;
   --text--dark: #ffffff;
   --line--light: #dbdbdb;
   --width--sidebar: 18%;
   --width--container: calc(100% - var(--width--sidebar));
   --width--suggest: 25%;
   --shadow--box: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: inline-block;
   position: relative;
   font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   overflow: hidden;
}
html {
   height: 0;
}
i.fa-solid.fa-heart.like {
   color: red;
}
i.fa-solid.fa-heart.like:hover {
   color: red;
}
a {
   text-decoration: none;
   color: #333;
}
